*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* shop now */
p a{
    color: #fff;
    font-weight: 700;
}

/* search bar icon */
header .form-control{
    padding-right: 4rem;
    margin-left: 5rem;
}

.fa-search{
    position: relative;
    right: 4rem;
}

/* Login Exclusive */
.col-4 h3{
    margin-top: 5rem;
    margin-left: 1.2rem;
}

/* Enter details below  */
.col-4 span{
    font-weight: 500;
    margin-left: 1.3rem;
}

/* Name to password */
.column input{
    margin-top: 1rem;
    border-bottom: 1px solid;
}

/* submit button */
.button{
    width: 100%;
}

.column .btn{
    margin-top: 2rem;
    width: 50%;
}

.column .btn.two{
    border: 1px solid;
    font-size: small;
}

.col-4 p{
    margin-top: 2rem;
}

/* google image  */
.gog{
    width: 1.5rem;
    height: 1.5rem;
}